@import "colors";

a {
    transition: all 300ms;
}

a:visited {
    color: $black;
}

a:hover {
    color: $red;
}

button {
    color: $black;
    padding: 1.5rem 6rem;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 3px;
    background-color: $red;
    cursor: pointer;
    transition: all 300ms;

    &:hover {
        background-color: $darkred;
    }
}

label {
    text-transform: uppercase;
    font-weight: 600;
}

input,
textarea,
select {
    border-radius: 3px;
    border: none;
    background: $grey;
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    resize: vertical;
}
