@import "colors";
@import "reset";
@import "base";

.layout {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: "Roboto", sans-serif;

    a:visited {
        color: $black;
    }

    a:hover {
        color: $red;
    }
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.content {
    margin: 3rem;
}
