.navigation {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2rem;
    text-transform: uppercase;
    justify-self: right;
    font-weight: 600;

    @media (max-width: 550px) {
        justify-self: auto;
    }
}
