.sleeve-form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 3rem;
    justify-items: center;
    margin: 3rem 0;
}

.sleeve-form-field {
    max-width: 500px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 1rem;
}
