.sleeve-template {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;

    @media (max-width: 1000px) {
        grid-template-columns: repeat(1, 1fr);
    }
}

.sleeve-template-info {
    h2 {
        margin-top: 0;
    }
}

.sleeve-template-form {
    display: grid;
    grid-template-columns: repeat(1, auto);
    row-gap: 3rem;
    justify-items: center;
    margin: 3rem 0;
}

.sleeve-template-form-field {
    max-width: 500px;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, auto);
    row-gap: 1rem;
}
